<footer class="bg-light mt-5">
  <div class="container-fluid text-center py-4">

    <div class="mb-3">
      <i class="fa-brands fa-facebook fs-5 me-3"></i>
      <i class="fa-brands fa-square-instagram fs-5 me-3"></i>
      <i class="fa-brands fa-linkedin fs-5"></i>
    </div>

    <div class="mb-2">
      © Wanderlust Private Limited
    </div>

    <div>
      <a href="/privacy" class="text-dark text-decoration-none me-3">Privacy</a>
      <a href="/terms" class="text-dark text-decoration-none">Terms</a>
    </div>

  </div>
</footer>
