<% layout("/layouts/boilerplate.ejs") %>

<style>
.form-container{
    max-width:650px;
    margin:auto;
    background:white;
    padding:25px;
    border-radius:18px;
    box-shadow:0 8px 25px rgba(0,0,0,0.15);
}

.form-container h2{
    font-weight:700;
    text-align:center;
    margin-bottom:20px;
}
</style>

<div class="container mt-5 mb-5">

  <div class="form-container">
    <h2>Add New Listing</h2>

    <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">

      <!-- Title -->
      <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" name="listing[title]" class="form-control" placeholder="Enter title" required>
        <div class="invalid-feedback">Title is required</div>
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" rows="4" required></textarea>
        <div class="invalid-feedback">Please enter description</div>
      </div>

      <!-- Image -->
      <div class="mb-3">
        <label class="form-label">Upload Listing Image</label>
        <input name="listing[image]" type="file" class="form-control">
      </div>

      <!-- Price -->
      <div class="mb-3">
        <label class="form-label">Price</label>
        <input type="number" name="listing[price]" class="form-control" placeholder="Enter price" required>
        <div class="invalid-feedback">Enter price</div>
      </div>

      <!-- Location -->
      <div class="mb-3">
        <label class="form-label">Location</label>
        <input type="text" name="listing[location]" class="form-control" placeholder="Enter location" required>
        <div class="invalid-feedback">Enter location</div>
      </div>

      <!-- Country -->
      <div class="mb-3">
        <label class="form-label">Country</label>
        <input type="text" name="listing[country]" class="form-control" placeholder="EX: INDIA" required>
        <div class="invalid-feedback">Enter country</div>
      </div>

      <button class="btn btn-danger w-100">
        Add Listing
      </button>

    </form>

  </div>

</div>
